<nav class="navbar navbar-dark bg-dark">
    
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Agenda</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    
</nav>